/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #1E88E5;
    color: white;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .logo {
    font-size: 1.5em;
    margin-left: 20px;
  }
  .banner img{
    
    width: 100%;
    height: 30rem;
    display: block;
    margin-bottom: 10px;
      
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display:inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
  }
  
  section {
    padding: 10px;
  }
   
  .services div{
    display:inline-block;
    margin:10px;
    justify-content:space-evenly;
    
  }

   .service{
    width:400px;
    margin:auto;
    border:2px solid black;
  }

  .services .service img{
    width:375px;
    height:200px;
    padding:10px;
  }

  .locations div{
    display:inline-block;
    margin:10px;
    justify-content:space-evenly;
    
  }

  .location{
     width:500px;
     margin:auto;
     border:2px solid black;
  }

  .locations .location img{
    width:450px;
    height:250px;
    padding:10px;
  }

  .testimonials div{
    display:inline-block;
    margin:10px;
    justify-content:space-evenly;
  }

 .testimonial{
    width:250px;
     margin:auto;
     border:1px solid black;
 }

 .testimonials .testimonial img{
    width:225px;
    height:225px;
    padding:10px;
 }
  
  
  
  /* Specific styles */
  h1 {
    margin: 0;
  }
  
  h2 {
    color: #1E88E5;
  }
  
  .service, .location, .testimonial {
    margin-bottom: 20px;
  }
  
  .btn {
    background-color: #1E88E5;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
  }
  
  .btn:hover {
    background-color: #0D47A1;
  }
  
  blockquote {
    font-style: italic;
  }
  
  address {
    margin-top: 20px;
  }
  
/*footer*/
  
  footer {
    background-color: #f2f2f2;
    padding: 20px 0;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
  }
  
  .contact-info,
  .social-media {
    flex: 1;
    padding: 0 20px;
  }
  
  .contact-info h3,
  .social-media h3 {
    margin-top: 0;
  }
  
  .social-media ul {
    list-style-type: none;
    padding: 0;
  }
  
  .social-media ul li {
    margin-bottom: 5px;
  }
  
  .social-media ul li a {
    text-decoration: none;
    color: #333;
  }
  
  .social-media ul li a:hover {
    color: #007bff;
  }
  